.App {
  text-align: center;
}

body{
  min-height: 100vh;
  background-image:url("img/fondo2.jpg");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

}


.servicios_titulo{
  text-align: center;
    font-size: 30px;
    font-family: fantasy;
}


.texto_bloque1{
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.emergencia{
  text-align: center;
    padding: 20px 100px;
    background-color: rgb(33, 33, 218);
    margin: 20px;
    color: aliceblue;
    font-size: 40px;


}

.foto_baño{
  display: flex;
    justify-content: center; 
   
}

.bañogratis{
  width: 450px;
}

.titulo_bano{
  text-align: center;
    font-size: 40px;

}

.consultagratis{
  text-align: center;
  font-size: 40px;
}

.derechos{
  justify-content: center;
  font-size: 30px;
  color: white;
}

.tituloredes{
  font-size: 40px;
  color: white;
}

.redes{
  font-size: 30px;
  margin: 10px;
  color: white;

}

.pie_redes{
   
  padding: 20px 100px;
  background-color: rgba(87, 128, 186, 0.967);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.tabla_de_paciente{
  color: white;
  font-size: 40px;
  table-layout: fixed;
  text-align: center;

}



.paciente_tabla2{

  font-size: px;
  padding: 20px 20px;
  text-align: center;
}

.datos_paciente{
  font-size: 11px;
  table-layout: fixed;


}

.datos_paciente1{
  font-size: 25px;
  padding: 20px 20px;
  width: 0.10%;
  text-align: center;
}