h1{
    text-align: center;
    color: #f3f1f1;
}

.buscar{
    text-align: center;
}

input{
    width: 300px;
    height: 40px;
    font-size: 30px;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(rgb(39, 39, 172));
    background-color: rgb(54, 83, 231);
}


table{
    color: white;
    font-size: 20px;
    table-layout: fixed;
}


thead{
    background: rgb(28, 28, 209);
}

th{
    font-size: 25px;
    padding: 20px 20px;
    

}

td{
    text-align: center;
}


.volver{
    text-align: center;
    margin: 50px;
    
    
}

a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 40px;
    border: solid rgb(0, 48, 205);
    margin: 10px 10px;
    border-radius: 7px;
}

@media screen and (max-width:412px) {
   
    .tabla{
       text-align: center;
       font-size: 30px; 
    }
    
    body{
       
        height: auto;    
        align-items: center;
        
    }

   th{
    font-size: 11px;
    padding: 11px 0px;
    width: 100%;
   }
   
   td{
    font-size: 8px;
    width: 100%;
   }

   h1{
    font-size: 40px;
    width: 105%;
   }
   .buscar{
    font-size: 25px;
    width: 105%;
   }

   .volver{
    font-size: 40px;
    width: 75%;
   }

   table {
     width: 100%;
     table-layout: auto;
     
   }

}

