@media screen and (max-width:412px) {
    
}



@media screen and (min-width: 980px) {
    
}








body{
    min-height: 100vh;
    background-image:url("img/fondo2.jpg");
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;

}


.logo {
   width: 10%;
   
 }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}


ul li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1;
    background-color: rgb(95, 137, 203);
    border-radius: 700px;
    padding: 20px 10px;
    color: rgb(253, 253, 253);
    text-decoration: none;
    font-size: 28px;
}


a:hover {
    background-color: transparent;
    border: 2px solid rgb(26, 24, 24);
    color: rgb(240, 237, 237);
}



.servicios{
    text-align: center;
    font-size: 30px;
    font-family: fantasy;
}


.servicios_logos{
 width: 200px;
 height: 200px;
 text-align: center;
 margin: 30px;
 left: 40%;
}

.espaciologos {
display: flex;
justify-content: center;

}



.emergencia {
    text-align: center;
    padding: 20px 100px;
    background-color: rgb(33, 33, 218);
    margin: 20px;
    color: aliceblue;
    font-size: 20px;

   
}

  
.bloque1 {
    text-align: justify;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1000px;
}
.espaciobloque1{
    display: flex;
    justify-content: center;
}

.baño {
    width: 450px;
}
.espaciobaño{
    display: flex;
    justify-content: center; 
}

.bañogratis{
    text-align: center;
    font-size: 40px;
}

.consulta{
 width: 450px;
 height: 540px;
}

.espacioconsulta {
    display: flex;
    justify-content: center;
}

.consultagratis{
    text-align: center;
    font-size: 40px;
}


footer{
   
    padding: 20px 100px;
    background-color: rgba(87, 128, 186, 0.967);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    font-size: 30px;
    margin: 10px;
    color: white;

}

.tituloredes{
    font-size: 40px;
    color: white;
}
.derechos{
    justify-content: center;
    font-size: 30px;
    color: white;
}