<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/registrocita.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>formato para pedir cita medica</title>
</head>
<body>
    <div class="contenedor">
        <h1>Agendar cita</h1><br></br>        
    
            <div class="registro">

       
                 <input type="text" required>
                 <div class="informacion">Nombre del responsable</div><br></br>
                
                <input type="date"required>
                <div class="informacion"> Fecha</div><br></br>

                <input type="number" required>
                 <div class="informacion">Cédula</div><br></br>

                <input type="text"required>
                <div class="informacion">Nombre de la mascota</div><br></br>

                <input type="text"required>
                <div class="informacion">Animal</div> <br></br>

                <input type="number"required>
                <div class="informacion">Edad</div><br></br>

                <input type="number"required>
                <div class="informacion">Número de contacto</div><br></br>

                <input type="text"required>
                <div class="informacion">Servicio</div><br></br>
            
                <button>Guardar</button><br></br>

                <a class="regresar" href="vethome.HTML">Regresar al inicio</a>
            
            </div>
        
      
               
    </div>

</body>
</html>